---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<MainLayout>
  <article class="prose prose-base prose-lg dark:prose-invert">
    <h1>{entry.data.title}</h1>
    <div class="mb-12 flex space-x-4 text-base-500">
      <p>
        {entry.data.date.toLocaleDateString("en-GB", { dateStyle: "long" })}
      </p>
      <p class="text-base-300 dark:text-base-700">/</p>
      <p>{remarkPluginFrontmatter.minutesRead}</p>
    </div>
    <Content />
  </article>
</MainLayout>
