---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import TableOfContents from "../../components/TableOfContents.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter, headings } = await entry.render();
---

<script>
  // move the table of contents to the specified location in the page
  let tocTitle = document.querySelector("#table-of-contents");
  let toc = document.querySelector(".toc");

  if (tocTitle && toc) {
    toc.remove();
    tocTitle.after(toc);
  }
</script>

<MainLayout>
  <article
    class="prose prose-base prose-lg max-w-none dark:prose-invert
    prose-a:no-underline hover:prose-a:underline
    prose-code:rounded-md prose-code:bg-base-50 prose-code:p-0.5 dark:prose-code:bg-base-950"
  >
    <h1 class="mb-4">{entry.data.title}</h1>
    <div class="mb-8 flex space-x-4 text-base-500">
      <p>
        {entry.data.date.toLocaleDateString("en-GB", { dateStyle: "long" })}
      </p>
      <p class="text-base-300 dark:text-base-700">/</p>
      <p>{remarkPluginFrontmatter.minutesRead}</p>
    </div>
    <TableOfContents {headings} />
    <Content />
  </article>
</MainLayout>
