---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<MainLayout>
  <main class="flex flex-col gap-4">
    <h1 class="mb-12 text-4xl font-bold text-purple dark:text-orange-light">
      Blog
    </h1>
    {
      allPosts
        .sort((a, b) => {
          return a.data.date < b.data.date ? 1 : -1;
        })
        .map((post) => <BlogPostCard {post} />)
    }
  </main>
</MainLayout>
