---
import { Code } from "astro:components";
import CopyCode from "./CopyCode.svelte";

const { code, lang, name } = Astro.props;
---

<div
  class:list={[
    "relative group prose-pre:m-0 code-snippet",
    name && "prose-pre:rounded-none prose-pre:rounded-b",
  ]}
>
  {
    name && (
      <p class="m-0 pl-4 py-1 prose-code:text-lg bg-base-100 dark:bg-base-900 rounded-t">
        {name}
      </p>
    )
  }
  <CopyCode {code} client:load />
  <Code {code} {lang} theme="css-variables" />
</div>
