---
import { Code } from "astro:components";

const { code, lang, name } = Astro.props;
---

<div
  class="prose-pre:m-0 prose-pre:rounded-none prose-pre:rounded-b code-snippet"
>
  {
    name && (
      <p class="m-0 pl-4 py-1 prose-code:text-lg bg-base-100 dark:bg-base-900 rounded-t">
        {name}
      </p>
    )
  }
  <Code {code} {lang} theme="css-variables" />
</div>
