---
import { Code } from "astro:components";
import CopyCode from "./CopyCode.svelte";

const { code, lang, name } = Astro.props;
---

<div
  class:list={[
    "code-snippet group relative prose-pre:m-0",
    name && "prose-pre:rounded-none prose-pre:rounded-b",
  ]}
>
  {
    name && (
      <p class="m-0 rounded-t bg-base-100 py-1 pl-4 prose-code:text-lg dark:bg-base-900">
        {name}
      </p>
    )
  }
  <CopyCode {code} client:load />
  <Code {code} {lang} theme="css-variables" />
</div>
