---
import { Github, Twitter } from "lucide-svelte";
---

<footer class="my-36 flex gap-4">
  <a href="https://github.com/adamallsebrook" title="GitHub">
    <Github size="1.5em" strokeWidth="1.5" />
  </a>

  <a href="https://twitter.com/adamallsebrook" title="Twitter">
    <Twitter size="1.5em" strokeWidth="1.5" />
  </a>
</footer>
