---
import DarkModeToggle from "../components/DarkModeToggle.svelte";
---

<nav class="my-16 flex justify-between">
  <a href="/" class="">Adam Allsebrook</a>
  <div class="flex space-x-4">
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <div>
      <DarkModeToggle client:load />
    </div>
  </div>
</nav>
