---
import "@fontsource/manrope";
import "@fontsource/ibm-plex-mono";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Adam Allsebrook</title>
    <script is:inline>
      const isDarkMode = localStorage.getItem("darkMode");
      const theme = isDarkMode === "true" ? "dark" : "";
      document.querySelector("html").className = theme;
    </script>
  </head>
  <body
    class="mx-auto flex max-w-3xl flex-col bg-base-paper p-4
        text-lg text-base-800 transition-colors duration-300 dark:bg-base-black dark:text-base-200"
  >
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
